<config platform="iphone" template="iphone (default)">Created: Sat Dec 6 19:52:01 2014
By: Simon
Using Template: iphone (default)

&lt;description to go here><option fromDef="true" value="&quot;universal&quot;" name="iphone-application-type"/>
    <option fromDef="true" value="com.Simon.SlidingHomeC" name="iphone-appid"/>
    <option fromDef="true" value="" name="iphone-show-status-bar"/>
    <option fromDef="true" value="" name="iphone-uiviewcontroller-based-status-bar"/>
    <option fromDef="true" value="4.3" name="iphone-minimum-ios-version"/>
    <option fromDef="true" value="" name="iphone-icon-dir"/>
    <option fromDef="true" value="" name="iphone-icon-extra"/>
    <option fromDef="true" value="" name="iphone-prerendered-icon"/>
    <option fromDef="true" value="" name="iphone-skip-icon-generation"/>
    <option fromDef="true" value="" name="iphone-skip-launch-generation"/>
    <option fromDef="true" value="" name="iphone-launch-dir"/>
    <option fromDef="true" value="" name="iphone-launch-storyboard"/>
    <option fromDef="true" value="" name="iphone-launch-extra"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="SlidingHomeC" name="name"/>
    <option fromDef="true" value="SlidingHomeC" name="caption"/>
    <option fromDef="true" value="Simon" name="provider"/>
    <option fromDef="true" value="(C) Simon" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="English" name="iphone-region"/>
    <option fromDef="true" value="" name="iphone-info-plist"/>
    <option fromDef="true" value="" name="iphone-persistent-wifi"/>
    <option fromDef="true" value="" name="iphone-backgroundmode-audio"/>
    <option fromDef="true" value="" name="iphone-app-fonts"/>
    <option fromDef="true" value="" name="iphone-bundle-localisations"/>
    <option fromDef="true" value="" name="iphone-bundle-url-name"/>
    <option fromDef="true" value="" name="iphone-bundle-url-schemes"/>
    <option fromDef="true" value="" name="itunes-artwork"/>
    <option fromDef="true" value="" name="iphone-nosign"/>
    <option fromDef="true" value="" name="iphone-sign-for-distribution"/>
    <option fromDef="true" value="" name="iphone-provisioning-profile"/>
    <option fromDef="true" value="" name="iphone-signing-identity"/>
</config>
