<config platform="" template=""><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="false" value="data/app.icf" name="config"/>
    <option fromDef="true" value="SlidingHomeC" name="name"/>
    <option fromDef="true" value="SlidingHomeC" name="caption"/>
    <option fromDef="true" value="Simon" name="provider"/>
    <option fromDef="true" value="(C) Simon" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
