<config template="" platform=""><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="" fromDef="true"/>
    <option name="name" value="SlidingHomeC" fromDef="true"/>
    <option name="caption" value="SlidingHomeC" fromDef="true"/>
    <option name="provider" value="Simon" fromDef="true"/>
    <option name="copyright" value="(C) Simon" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
