<config platform="" template=""><option name="icon" value="data/textures/Logo.png" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="false"/>
    <option name="name" value="Sliding Home" fromDef="false"/>
    <option name="caption" value="Sliding Home" fromDef="false"/>
    <option name="provider" value="b1009269" fromDef="true"/>
    <option name="copyright" value="(C) b1009269" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
